static/uploads/
*.nii
*.zip
__pycache__/
.DS_Store
venv/
.venv/
brainalyze-admin.json
brainalyze-firebase-adminsdk-fbsvc-22398a77eb.json
brainalyze-admin.json
brainalyze-firebase-adminsdk-fbsvc-22398a77eb.json
